{
  "env": {
    "amd": true,
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@angular-eslint/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:angular/johnpapa",
    "plugin:compat/recommended",
    "plugin:import/typescript",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint"
  ],
  // "overrides": [
  //   {
  //     "env": {
  //       "es6": true,
  //       "node": true
  //     },
  //     "files": ["*.js", "build/**", "webpack/**"]
  //   }
  // ],
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "angular",
    "html",
    "import",
    "prettier"
  ],
  "rules": {
    "@angular-eslint/directive-selector": [
      "error",
      {
        "type": "attribute",
        "prefix": "ourprefix",
        "style": "camelCase"
      }
    ],
    "@angular-eslint/component-selector": [
      "error",
      {
        "type": "element",
        "prefix": "ourcomponent",
        "style": "cebab-case"
      }
    ],
    "@typescript-eslint/camelcase": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/explicit-member-accessibility": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "@typescript-eslint/no-use-before-define": "off",
    "@typescript-eslint/no-var-requires": "off",
    "import/no-unused-modules": [
      2, {"unusedExports": true, "missingExports": true}
    ],
    "import/no-unresolved": [
      2, {"commonjs": true, "amd": true}
    ],
    "no-useless-return": "error",
    "padding-line-between-statements": [
      "error",
      {
        "blankLine": "always",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": "*"
      },
      {
        "blankLine": "any",
        "prev": [
          "const",
          "let",
          "var"
        ],
        "next": [
          "const",
          "let",
          "var"
        ]
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": "return"
      }
    ],
    "prettier/prettier": [
      "error"
    ],
    "sort-imports": [
      "error",
      {
        "ignoreCase": false,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": false,
        "memberSyntaxSortOrder": [
          "none",
          "all",
          "multiple",
          "single"
        ]
      }
    ]
    // "tailwind/class-order": "error"
  }
}
