// Calculate em values
@function em($target, $context: $base-font-size) {
    @return ($target / $context) * 1em;
}

// Responsive breakpoints
// $width-mobile: 480px;
// $width-large-mobile: 640px;
// $width-tablet: 768px;
// $width-desktop-small: 960px;
// $width-desktop: 1024px;
// $width-large-desktop: 1200px;
@mixin responsive($width) {
    @if ($width == "large-desktop") {
        @media only screen and (min-width: $width-large-desktop) {
            @content;
        }
    } @else if ($width == "desktop") {
        @media only screen and (min-width: $width-desktop) {
            @content;
        }
    } @else if ($width == "small-desktop") {
        @media only screen and (min-width: $width-desktop-small) {
            @content;
        }
    } @else if ($width == "tablet") {
        @media only screen and (min-width: $width-tablet) {
            @content;
        }
    } @else if ($width == "large-mobile") {
        @media only screen and (min-width: $width-large-mobile) {
            @content;
        }
    } @else {
        @media only screen and (min-width: $width-mobile) {
            @content;
        }
    }
}

// Shape / Icon Mixins
// @param {*} $color-1 - string
// @param {*} $color-2 - string
// @param {*} $bgColor - string
@mixin loading-indicator($color-1: $white, $color-2: $gold, $color-3: $black) {
    width: 100%;
    height: 100%;
    position: relative;

    border-radius: 50%;
    background: linear-gradient(to right, $color-1 10%, $color-2 42%);

    -webkit-animation: loading-rotation 1.4s infinite linear;
    animation: loading-rotation 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);

    &::before {
        content: "";
        width: 50%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 100% 0 0;
        background: $color-1;
    }

    &::after {
        content: "";
        width: 75%;
        height: 75%;
        border-radius: 50%;
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: $color-3;
    }
}