.jbd-splash {

    &-component {
        width: 100%;
        height: 295px;
        margin: 0 0 20px;
        position: relative;
        z-index: 2;
        background-color: $black;
        
        @include responsive(tablet) {
            height: 592px;
        }

        // Different pages
        &--home {
            margin-top: 75px;
    
            @include responsive(tablet) {
                margin-top: 178px;
            }
        }

        &--services {
            height: 166px;
            margin-top: 95px;
            padding-bottom: 0;
            background-image: url("/includes/images/backgrounds/service_hero.jpg");
            background-color: transparent;
            background-position: left -60px bottom;
            background-size: cover;
            background-repeat: no-repeat;

            @include responsive(large-phone) {
                background-position: center bottom;
            }

            @include responsive(tablet) {
                height: 237px;
                margin-top: 204;
            }

            @include responsive(desktop) {
                background-position: center bottom;
            }
        }
    }

    &-slide {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        z-index: 1;
        opacity: 1;

        transition-property: opacity;
        transition-timing-function: ease-in-out;
        transition-duration: 2s;

        &.animate-slide {

            .jbd-splash-slide-backgrounds-container {
                transform: translateX(-100%);
                left: 100%;
            }
        }

        &.fade-slide {
            opacity: 0;
        }

        &-backgrounds {
            height: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            overflow-x: hidden;
            background-color: $white;

            &-container {
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                box-shadow: inset 0 0 10px $black;

                transition-property: transform, left;
                transition-timing-function: linear;
            }
        }

        &-background {
            height: 100%;

            & + & {
                margin-left: 5px;
            }
        }

        &-shadow {
            width: 100%;
            height: 35px;
            position: absolute;
            top: -15px;
            left: 0;
            z-index: 10;
            background-image: linear-gradient($black, $white-transparent);
        }

        &-content {
            width: 100%;
            max-width: 1024px;

            display: flex;
            flex-direction: row;
            justify-content: center;

            position: relative;
            top: 204px;
            z-index: 5;
            
            @include responsive(tablet) {
                margin: 0 auto;
                justify-content: flex-end;
                top: -20px;
            }
        }

        &-spotlight {
            width: 100%;
            max-width: 330px;
            height: 535px;
            padding: 105px 25px 25px;
            background-image: svg-url($carousel-content-bg);
            background-size: 330px 535px;
            background-repeat: no-repeat;
            color: $tundora;
            
            @include responsive(large-mobile) {
                max-width: 480px;
                background-size: 480px 535px;
            }

            @include responsive(tablet) {
                max-width: 416px;
                height: 638px;
                background-size: 416px 639px;
            }
        }

        &-topic,
        &-promo {
            margin: 0 0 15px;
            font-size: $font-size-body--small;
            font-weight: $font-weight-bold;
            line-height: 2.182;
            color: $tundora;
            
            @include responsive(large-mobile) {
                // font-size: $font-size-body;
            }
        }

        &-title {
            margin: 0 0 15px;
            font-family: $big-caslon;
            font-size: $font-size-h1-mobile;
            line-height: 1.25;
            color: $tundora;
            word-spacing: -4px;
            
            @include responsive(large-mobile) {
                font-size: $font-size-h1;
                word-spacing: -4px;
            }
        }

        &-copy {
            margin: 0 0 15px;
            padding: 0 20px 0 0;
            font-size: $font-size-body;
            line-height: 1.714;
            color: $tundora;
            
            @include responsive(large-mobile) {
                // font-size: $font-size-body;
            }
            
            @include responsive(desktop) {
                width: 81%;
                text-align: left;
            }

            &::after {
                content: ". . .";
            }
        }

        &-link {
            margin: 0 0 15px;
            display: inline-block;
        }
    }
}
