.jbd-home {
    padding-top: 450px;

    @include responsive(tablet) {
        padding-top: 100px;
    }

    // CTA Blocks
    &-cta {
        padding-bottom: 90px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include responsive(tablet) {
            padding-bottom: 115px;
            flex-direction: row;
        }

        &-block {
            padding: 40px 0px;
            position: relative;
            border: 0;
            border-style: solid;
            border-color: $gold;
            text-align: center;
            color: $white;

            @include responsive(tablet) {
                padding: 10px 30px 20px;
                border-bottom-width: 0;
                border-left-width: 1px;
            }

            &:last-child {
                border-bottom-width: 0;

                &::after {
                    content: " ";
                    width: 142px;
                    height: 1px;
                    background-color: $gold;
                    position: absolute;
                    top: 0;
                    left: calc(50% - 71px);
                    
                    @include responsive(tablet) {
                        display: none;
                    }
                }

                @include responsive(tablet) {
                    border-right-width: 1px;
                }
            }
        }

        &-title {
            margin-bottom: 10px;
            font-size: $font-size-h2;
            font-weight: $font-weight-bold;
            line-height: 1.08;
        }

        &-copy {
            font-size: $font-size-h4;
            line-height: 1.5;
        }

        &-link {
            display: flex;
            flex-direction: column;

            text-transform: uppercase;
            line-height: 1.5;
            
            @include responsive(large-mobile) {
                display: inline-block;
            }
        }
    }

    .jbd-highlight--home {
        padding: 0 0 75px;

        @include responsive(tablet) {
            padding: 0 0 90px;
        }
    }

    &-content {
        width: 100%;
        padding-bottom: 20px;
    }
}
