<div class="layout-column align-items-center mt-50">
  <section class="layout-row align-items-center justify-content-center">
    <input type="number" class="large" placeholder="Enter Year eg 2015"
           data-test-id="app-input" [(ngModel)]="movieYear" />
    <button class="" data-test-id="submit-button" (click)="populateMovieList()">Search PAGE TWO</button>
  </section>


  <ul class="mt-50 styled" data-test-id="movieList" *ngIf='movies?.length'>
    <li class="slide-up-fade-in py-10" *ngFor="let movie of movies">
      {{movie.Title}}
    </li>
  </ul>

  <div class="mt-50 slide-up-fade-in"
       data-test-id="no-result"
       *ngIf='movies && !movies.length'>No Results Found</div>
</div>
