<!--The content below is only a placeholder and can be replaced.-->
<nav class="app-header layout-row align-items-center justify-content-center">
  <div class="layout-row align-items-center">
    <!-- <img src="/assets/images/logo.svg" class="logo" /> -->
    <h4 id="app-title" class="app-title">Movie List</h4>
  </div>
</nav>
<header class="jbd-header">
	<div class="jbd-page-container jbd-page-container--full-width jbd-header-container">
    <a href="/" class="jbd-header-nav-link">
      <!-- <img class="jbd-header-logo" src="../includes/images/theme/JBD_logo.png" alt="Joanne Balaban Designs" title="Joanne Balaban Designs" /> -->
      <svg xmlns="http://www.w3.org/2000/svg" class="jbd-icon jbd-header-logo jbd-header-logo--mobile">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#jbd-logo" />
      </svg>
    </a>

		<nav class="jbd-header-nav">
			<ul class="jbd-header-nav-list jbd-header-nav-list--mobile">
				<li class="jbd-header-nav-item">
					<button type="button" class="jbd-btn jbd-btn--outline" data-role="mobile-nav-trigger" data-options="modalID: contact-form;">Menu</button>
				</li>
      </ul>
			<ul class="jbd-header-nav-list">
        <li class="jbd-header-nav-item active">
					<a href="/" class="jbd-header-nav-link">About</a>
				</li>
				<li class="jbd-header-nav-item">
					<a href="/services" class="jbd-header-nav-link">Services</a>
				</li>
				<li class="jbd-header-nav-item">
					<a href="/portfolio" class="jbd-header-nav-link">Portfolio</a>
				</li>
				<li class="jbd-header-nav-item">
					<a href="http://www.jbolenart.com" class="jbd-header-nav-link">Original Art</a>
				</li>
				<li class="jbd-header-nav-item">
					<button type="button" class="jbd-btn jbd-btn--outline" data-role="modal-open" data-options="modalID: contact-form;">Contact</button>
				</li>
      </ul>
		</nav>
	</div>
</header>

<router-outlet></router-outlet>

<!-- JBD Footer -->
<div class="jbd-footer">
	<div class="jbd-page-container jbd-footer-container">
    <p class="jbd-footer-title">
      Joanne Balaban Designs
    </p>

    <p class="jbd-footer-contact">
      <a class="jbd-footer-contact-link" href="tel:+12159431810">215.943.1810</a> <a class="jbd-footer-contact-link" href="mailto:joanne@joannebalabandesigns.com">Joanne@joannebalabandesigns.com</a>
    </p>

    <p class="jbd-footer-legal">
      &copy; Copyright 2018 - All Rights Reserved
    </p>

    <ul class="jbd-footer-social-list">
      <li class="jbd-footer-social-item">
        <a class="jbd-footer-social-link jbd-footer-social-link--ln" href="https://www.linkedin.com/in/joanne-balaban-olen-6284bb36" title="linkedin" target="_blank"></a>
      </li>
      <li class="jbd-footer-social-item">
        <a class="jbd-footer-social-link jbd-footer-social-link--hz" href="https://www.houzz.com/pro/jbdesignscomcast/joanne-balaban-designs" title="houzz" target="_blank"></a>
      </li>
      <li class="jbd-footer-social-item">
        <a class="jbd-footer-social-link jbd-footer-social-link--fb" href="https://www.facebook.com/joannebalabandesigns/" title="facebook" target="_blank"></a>
      </li>
    </ul>
  </div>
</div>